{
  "DestinationName": "../service/ESPM",
  "OfflineEnabled": false,
  "LanguageURLParam": "sap-language",
  "PathSuffix": "",
  "SourceType": "Cloud",
  "ServiceUrl":""  
}